*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
body{
    background: aliceblue;
    padding-bottom: 400px;  
    scroll-behavior: smooth;
    width: 100%;   
}

/* ==== This Is Scrolling ==== */

.reveal{
    position: relative;
    transform: translateY(60px);
    opacity: 0;  
    transition: all 0.9s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0px);
}

/* ==== This Is Our Form ==== */



:root{
     --sideber:dodgerblue;
}
.invalid{
    background-color: #ffdddd;
}

.card{    
     position: absolute;
     top: 250px;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 90%;
     height: 380px;
     background: #111;
     border-radius: 10px;   
     display: none;
     visibility: hidden;     
     transition: visibility 0.5s ease-in-out;
}

.card .cancel-icon{
    position: absolute;
    right: 10px;
    top: 10px;
}

.card .cancel-icon img{
    height: 30px;
    width: 30px;    
}

/* ==== .card::before{
    content: "close";
    position: absolute;
    top: 5px;
    right: 10px;
    height: 45px;
    width: 45px;
    background: #2691d9;
    border-radius: 50%;
    font-size: 17px;
    color: #fff;
    font-weight: 999; 
    display: flex;
    justify-content: center;
    align-items: center;    
} =====*/

.after {
    background: rgba(0,0,0,0.9);    
}

.pop{
    position: absolute;
    top: 35rem;
    width: 100%;    
}
.pop h2{
    text-align: center;
    color: #fff;
    font-weight: 999;
    display: none;   
}
.animal{
    transform: translateY(-35px);
}
.card h2{
     /* color: var(--sideber);*/
     text-align: center;
     margin-top: 10px;
     padding: 10px 0 12px;
     color: #fff;
     border-bottom: 1px solid silver;
}

.card form{
     padding: 0 30px;
     box-sizing: border-box;   
}

form .first{
     position: relative;
     border-bottom: 2px solid gray;
     margin: 30px 0;
}

.first input{
     width: 100%;
     padding: 0 5px;
     height: 40px;
     border: none;
     background: none;
     font-size: 16px;
      color: #fff;
     outline: none;
}

.first label{
     position: absolute;
     top: 50%;
     left: 5px;
     color: #adadad;
     pointer-events: none;
     font-size: 16px;
     transform: translateY(-50%);
     transition-delay: 0.1s;
}

.first span::before{
     content: "";
     position: absolute;
     top:40px;
     left: 0;
     width: 100%;
     height: 2px;
     background: #adadad;
}

form .first input:focus ~ label,
form .first input:valid ~ label{
    /*transform: translateY(-30px);*/          
     top: -4px;
     color: #2691d9;
     transition: all 0.3s ease-in-out; 
     
}
.first input:focus ~ span::before,
.first input:valid ~ span::before{
    transition: all 0.2s ease-in-out;
    background: #2691d9;
}

.pass{
     position : relative;
     margin: 5px 0 50px;
     color: #adadad;
     top: 35px;
     left: 100px;
     font-family: fantasy;
     font-weight: bold;
}

.pass a{
     text-decoration: none;
     color: #1691d5;
     transition: 0.1s;
}
a:hover{
     color: blueviolet;
     text-decoration: underline;    
}
a:active{     
     color: blueviolet;
     background: none;
}

input[type="submit"]{
     position: absolute;
     top: 220px;
     padding: 10px 15px;
     background: dodgerblue;
     outline: none;
     border: none;
     color: #fff; 
     font-weight: bold;
     transition: 0.5s;
}

input[type="submit"]:hover{
     background: dodgerblue;
     color: #fff;
     font-weight: bold;
}

input[type="submit"]:active{
     background: rgba(0, 0, 255, 0.7);
     color: #fff;
     font-weight: bold;
     transition-duration: 0.1s;
}

.upper{    
    position: absolute;    
    
}
#sho{
    position: absolute;
    top: -23px;
    left: 190px;
    display: none; 
    font-size: 20px;
}
#hid{
    position: absolute;
    top: -23px;
    left: 190px;
    background: none;
    color: #000;
    font-size: 20px;
}
/* ==== End Our Form ==== */

/* === Start Our Website === */

.box{
    padding: 0px;  
    margin: 0;
}
 
.box .logo{    
    margin-top: 0px;    
    display: flex;    
    align-items: center;   
    width: 100%;
    padding: 10px 10px;       
}
.box .logo h3{
    font-weight: 777;
    margin-left: 15px;
    letter-spacing: 1px;
    font-family: fantasy;    
}
.box .logo h3 span:nth-child(1){
    color:dodgerblue;
}
.box .logo h3 span:nth-child(2){
    color: red;
}
.box .logo h3 span:nth-child(3){
    color: purple;
}
.box .logo #logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.box .nav{ 
    float: right;  
    position: absolute;
    top: 24px;
    right: 5px;
}
.box .nav ul{
    list-style: none;
    display: flex;
    font-size: 15px;   
    margin-right: 10px;     
}
.box .nav ul li a{
    text-decoration: none;
    font-weight: 999;
    color: #000; 
}
.box .nav ul li:nth-child(4){
    overflow: hidden;
}
.box .nav ul li{
    margin-left: 7px;    
    font-weight: 999;
}
.box .nav ul li:active{
    transform: scale(0.92);
}
.box .nav ul li:nth-child(1){
    color: blue;
}
.box .main{
    display: flex;
    margin: 3rem 0px 0;    
    padding: 20px;
    height: auto;
    width: 100%;    
}
.box .main #img{
    height: auto;
    width: 100%;   
    border-radius: 8px;   
    box-shadow: -3px -3px 6px rgba(0,0,0,0.4),
                 3px 3px 6px rgba(0,0,0,0.4);
}
.box .main #par1{
    margin-left: 20px;
    margin-top: 1rem;
    font-family: serif;
    font-weight: 555;
    letter-spacing: 1px;
    width: 20%;
    line-height: 25px;   
}
.box .mainer{
    margin-top: 3rem;
    margin-left: 10px;
    width: 97%;
}
.box .mainer h2{
    margin-bottom: 2rem;
    font-weight: 999;
    font-family: fantasy;
}
.box .mainer small{
    letter-spacing: 1.5px;
    font-weight: 887;
    line-height: 3rem;
    font-family: serif;
}
.box .main2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin-top: 3rem;
    overflow: hidden;
}
.box .main2 #par2{
    margin-top: 40px;
    margin-left: 0px;
    font-family: fantasy;
    font-weight: 665;  
    letter-spacing: 1px;
    line-height: 45px;
}
.box .main2 #img2{   
    height: auto;
    width: 100%;
    border-radius: 4px;
    margin-top: 3rem;
    margin-bottom: 3rem;    
}
.main3 .header{
    height: 170px;
    width: 100%;
    background: gold;
    margin-top: 6rem;  
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2),
                -3px -3px 6px rgba(0,0,0,0.5);
    margin-bottom: 4rem;
}
.main3 .header h2{   
    text-align: center;     
    font-family: serif;
    color: #fff;    
    font-weight: 999; 
    text-transform: uppercase;
    padding-top: 35px;   
    letter-spacing: 2px;   
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.main3 .header h4{
    text-align: center;
    color: #fff;
    font-weight: 788;   
    letter-spacing: 1px;
    margin-top: 15px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.main3{
    margin: 5rem 0px;    
    width: 100%;
}

.main3 #sell1{
    margin-top: 3rem;
    height: auto;
    width: 100%;  
    box-shadow: -3px -3px 6px rgba(0,0,0,0.5);
    border-radius: 4px;
}
.hover-the-background{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    height: auto;
    width: 100%;  
}
.main3 .sell{
    margin: 20px 10px 25px;
    display: flex;
    flex-direction: column;    
}

.main3 .sell h2{
    text-align: center;
    font-weight: 777;
    letter-spacing: 1px;
    font-family: serif;
    margin-top: 15px;    
}
.main3 .sell h4{
    text-align: center;
    font-weight: 777;
    letter-spacing: 1px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: serif;
    font-size: 17px;
}

.main3 .sell button{
    height: 50px;
    background: #2691d9;
    outline: none;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 777;    
}

.main3 .sell button:active{
    opacity: 0.8;
    transform: scale(0.95);
}


/* ==== This Is Our Programme icon ==== */

.reded{
    margin-top: 10rem;
}

.reded .among{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-left: -15px;
}

.reded .among .carder{
    margin-left: 30px;
    margin-right: 30px;
    transition: 0.3s;
    margin-top: 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: -3px -3px 6px rgba(0,0,0,0.4);
    padding: 15px 15px;
}

.reded img{
    height: 90px;
    width: auto;
    z-index: -1;
}

.reded .header-for{
    padding: 25px 15px;
    width: 100%;
    background: blueviolet;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}
.reded .header-for h2{
    margin-bottom: 10px;
}
.among .carder:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(-15px);    
}

.reded .among .carder h4{
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1.5px;
    font-weight: 999;
    font-family: fantasy;
    text-transform: uppercase;
}

/* ===== OUR ABOUT PART HERE ===== */

section{
    margin-top: 7rem;
}

section .header2{
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);    
    width: 100%;
    background: lime;
    padding: 20px 0px;
    text-align: center;
}

section  .header2 h2{  
    font-size: 23px;
    font-weight: 990;
    font-family: serif;
    letter-spacing: 1.44px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    padding-bottom: 10px;   
}

section .header2 p{
    text-transform: uppercase;
    font-weight: 999;        
    color: rgba(0,0,0,0.8);
    line-height: 35px;
    
}

section .header2 h4{
    font-weight: 777;
    color: rgba(0,0,0,0.4);
    display: block;
    margin-top: 5px;
    letter-spacing: 0.4px;
}

section .header2 button{
    width: 90%;
    background: aliceblue;
    font-weight: 888;
    letter-spacing: 1px;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    outline: none;
    border: none;
    margin-top: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);    
}

section .header2 button a{
    text-decoration: none;
    color: #000;   
    font-weight: 999;
    width: 100%;   
    cursor: none;
}

section .header2 button:active{
    background: #fff;
    transform: scale(0.95);    
}

.wrap{
    margin-top: 6rem;   
}

.wrap section:nth-child(1){
    display: flex;
    justify-content: space-around;
    margin: 0rem 0;
    background: #fff;
    padding: 2rem 0rem;
}

.wrap section:nth-child(2){
    display: flex;
    justify-content: space-around;
    margin: 0rem 0;
    background: #fff;
    padding: 2rem 0rem;
}

.wrap section:nth-child(3){
    display: flex;
    justify-content: space-around;
    margin: 0rem 0;
    background: #fff;
    padding: 2rem 0rem;
}

.wrap section .about{
    width: 10rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2691d9;
    border-radius: 10px;
    flex-direction: column;    
    box-shadow: -3px -3px 6px rgba(0,0,0,0.5);
    transition: all 0.3s ease-out;
}

.across{
    transform: scale(0.96);
    transition: all 0.4s ease-in-out;
}


.wrap section .about h4{
    text-align: center;
    color: #fff;
    margin-bottom: 0.5rem; 
    font-size: 20px;
}

.wrap section .about p{
    width: 100%;
    text-align: center;
    color: #fff;
}









